# PostgreSQL
POSTGRES_DB=llm_gateway
POSTGRES_USER=llm_gateway
POSTGRES_PASSWORD=llm_gateway
POSTGRES_PORT=5786

# Redis
REDIS_PORT=6379

# RabbitMQ
RABBITMQ_DEFAULT_USER=llm_gateway
RABBITMQ_DEFAULT_PASS=llm_gateway
RABBITMQ_PORT=5785
RABBITMQ_MANAGEMENT_PORT=15672
